name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List repo (debug)
        run: |
          pwd
          ls -R

      - name: Ensure scripts are executable
        run: |
          chmod +x cmd/*/*.sh || true
          chmod +x scripts/*.sh || true
          chmod +x tests/helpers/slurm_mocks/* || true

      - name: Install dependencies (bats)
        run: |
          sudo apt-get update
          sudo apt-get install -y bats

      # - name: Lint (shellcheck)
      #   run: |
      #     shellcheck -x lib/*.sh cmd/*/*.sh scripts/*.sh

      - name: Run tests (bats, recursive)
        run: |
          bats -r tests

